@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

/* body {
  height: 500vh;
  background: #dedede;
} */

.canvas-container {
  height: 120vh;
  background: #dedede;
}

canvas {
  background-color: #dedede;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 100vw;
  max-height: 100vh; */
}
